@page "/ticketboard"
@rendermode InteractiveServer

<PageTitle>Ticket Board</PageTitle>
@if (!authState)
{
    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h5">You are not logged in</MudText>
        <MudText>Please wait… navigating</MudText>
        <MudProgressLinear Indeterminate="true" Class="mt-2" />
    </MudPaper>
}
else
{
    <!-- Sticky header with logout -->

    <div class="mt-12"> 
        @if (AuthService.RoomId == 0)
        {
            <MudPaper Class="p-4" Elevation="2">
                <MudForm>

                    <MudTextField T="string" Label="Enter room name" />
                    <MudTextField T="string" Label="Password" InputType="InputType.Password" Class="mt-2" />

                    <div class="d-flex justify-end mt-4" style="gap:10px;">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">
                            Enter Room
                        </MudButton>

                        <MudButton Variant="Variant.Filled" Color="Color.Secondary">
                            Create Room
                        </MudButton>
                    </div>

                </MudForm>
            </MudPaper>
        }
        else
        {
            <div>
    @foreach (var ticket in RoomTickets)
    {
        <MudButton Class="w-100 mb-2" DisableElevation="true" OnClick="@(() => TicketClick(ticket.Id))">
            <MudPaper Class="p-3 w-100">
                <MudText Typo="Typo.h6" GutterBottom="true" Align="Align.Left">
                    @ticket.TicketName
                </MudText>
                <MudText Typo="Typo.body2" GutterBottom="true" Align="Align.Left">
                    @ticket.Description
                </MudText>
                <MudText Typo="Typo.subtitle2" GutterBottom="true" Align="Align.Left">
                    Priority: @ticket.Priority
                </MudText>
                <MudText Typo="Typo.subtitle2" Align="Align.Left">
                    Time: @ticket.EstimatedTime
                </MudText>
            </MudPaper>
        </MudButton>
    }
            </div>
        }
    </div>
}